<%- include ../partials/head.ejs %>
<title><%= bitId %></title>
<%- include ../partials/header.ejs %>

<div class="bitWrapper">
  <h3 class="mainTitle">bitcode: <%= bitId %></h3>
  <div class="bit"><%- bit %></div><br>
  <a href="/" class="backLink backBit">Back</a>
</div>

<%- include ../partials/footer.ejs %>
