<%- include ../partials/head.ejs %>
<title>Bit: <%= bitId %></title>
<%- include ../partials/header.ejs %>

<div class="bitWrapper">
  <h3 class="bitTitle"><%= bitId %></h3>
  <h4 class="bit"><%= bit %></h4>
</div>

<%- include ../partials/footer.ejs %>
