<%- include ../partials/head.ejs %>
<title>404 Error</title>
<%- include ../partials/header.ejs %>

<div class="errorWrapper">
  <h1 class="errorTitle">Error!</h1>
  <h3 class="error"><%= error %></h3>
  <a href="/" class="backLink">Back</a>
</div>

<%- include ../partials/footer.ejs %>
<%- include ../partials/end.ejs %>
