<%- include ../partials/head.ejs %>
<title>Bit</title>
<%- include ../partials/header.ejs %>

<form id="form" method="post" action="/">
  <h1 id="mainTitle">bit</h1>
  <input type="hidden" name="hidden" value="<%= hidden %>">
  <div class="text">
    <textarea id="text" class="form-control" name="text" autofocus maxlength="400"></textarea>
  </div><br>
  <div class="button">
    <button type="submit" class="btn btn-success">Create Bit</button>
  </div>
  <br/>
  <p class="regularText what-is-this"> <a href="https://github.com/thecameronjones/bit/blob/master/README.md"> What is this? </a> </p>
</form>

<%- include ../partials/footer.ejs %>
<%- include ../partials/end.ejs %>
