<%- include ../partials/head.ejs %>
<title>Bit Stats</title>
<%- include ../partials/header.ejs %>

<div id="statsWrapper">
  <h1 class="mainTitle">Stats</h1>
  <p class="regularText">Last restart on <%= startDate %></p>
  <p class="regularText">There are <%= bitCount %> bits since last restart.</p>
  <a href="/" class="backLink">Back</a>
</div>

<%- include ../partials/footer.ejs %>
<%- include ../partials/end.ejs %>
