<%- include ../partials/head.ejs %>
<title>Bit Stats</title>
<%- include ../partials/header.ejs %>

<div id="statsWrapper">
  <h1 class="mainTitle">Stats</h1>
  <% if (allBitsEver == 1) { %>
     <p class="regularText"><strong><%= allBitsEver %> bit</strong> has been made <strong>all time</strong>.</p>
  <% } else {%>
     <p class="regularText"><strong><%= allBitsEver %> bits</strong> have been made <strong>all time</strong>.</p>
  <% } %>
  <br>
  <a href="/" class="backLink">Back</a>
</div>

<%- include ../partials/footer.ejs %>
