<%- include ../partials/head.ejs %>
<title>Bit Stats</title>
<%- include ../partials/header.ejs %>

<h1>Stats</h1>
<%= bitCount %>

<%- include ../partials/footer.ejs %>
<%- include ../partials/end.ejs %>
