<%- include ../partials/head.ejs %>
<title>Bit Stats</title>
<%- include ../partials/header.ejs %>

<h1>Stats</h1>
<p>Last Restart: <%= startDate %></p>
<p>Bit Count: <%= bitCount %></p>
<a href="/" class="backLink">Back</a>

<%- include ../partials/footer.ejs %>
<%- include ../partials/end.ejs %>
