<%- include ../partials/head.ejs %>
<title>Bit Stats</title>
<%- include ../partials/header.ejs %>

<div id="statsWrapper">
  <h1 class="mainTitle">Stats</h1>
  <p class="regularText">Last restart on <strong><%= startDate %></strong> at <strong><%= startTime %></strong>.</p>
  <% if (stats == 1) { %>
    <p class="regularText"><strong><%= stats %> bit</strong> has been made since last restart.</p>
  <% } else {%>
    <p class="regularText"><strong><%= stats %> bits</strong> have been made since last restart.</p>
  <% } %>
  <a href="/" class="backLink">Back</a>
</div>

<%- include ../partials/footer.ejs %>
